hr {
    border: 1px solid #8675a9;
  }
  
  .most-external-border {
    margin: 10% 15% 2% 15%;
    border: 2px solid #c3aed6;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  }
  
  .header-main-title {
    font-size: 2.4vw;
    text-align: center;
    padding: 25px 10px 15px;
    font-family: "Courgette", cursive;
    color: #8675a9;
  }
  
  .fa-city {
    margin: 25% 4% 0% 70%;
    font-size: 2.5vw;
    color: #8675a9;
  }
  /*.col-8 {
    display: inline;
  }
  #submit-city {
    display: inline;
  }*/
  
  .submit-in-line {
    display: inline;
  }
  
  #enter-city {
    margin: 0% 0% 0% 20%;
    width: 50%;
    padding: 8px;
    border: 2px solid #8675a9;
    border-radius: 5%;
    font-size: 1.2vw;
    color: #826ea8;
  }
  
  input[type="search"]:focus {
    outline: 2px solid #c3aed6;
    border-radius: 5%;
    background: #e3d8ee;
  }
  
  #search-button {
    /*margin: 2% 5% 0% 25%;*/
    margin: 0% 0% 0% 5%;
    width: 20%;
    padding: 8px 12px;
    border: 2px solid #8675a9;
    border-radius: 8%;
    background: #c3aed6;
    color: #826ea8;
    font-size: 1.1vw;
    font-weight: bold;
  }
  
  input[type="submit"]:focus {
    outline: 2px solid #c3aed6;
    background: #d4bceb;
  }
  
  #location-button {
    margin: 0% 0% 0% 10%;
    font-size: 1.1vw;
    padding: 8px 12px;
    border: 2px solid #8675a9;
    border-radius: 8%;
    background: #c3aed6;
    color: #826ea8;
    font-weight: bold;
  }
  
  #location-button:hover {
    outline: none;
    background: #e3d8ee;
  }
  
  #location-button:focus {
    outline: none;
    background: #d4bceb;
  }
  
  #current-info {
    margin: 30px 20px 20px;
    border: 2px solid #8675a9;
    border-radius: 5px; /* I think that is better to change all the border-radius to percentage instead of pixels for responsivness... maybe */
  }
  
  #city-current-info {
    margin: 5%;
    border: 2px solid #8675a9;
    border-radius: 48%;
    text-align: center;
  }
  
  .city {
    margin: 5.5% 0% 2%;
    font-size: 2vw;
    color: #8675a9;
    font-family: "Old Standard TT", serif;
    text-transform: capitalize;
  }
  
  .current-time-weather {
    font-size: 1.5vw;
    margin-bottom: 0;
    color: #3b2e5a;
    font-family: "Nanum Gothic", sans-serif;
    font-family: "Old Standard TT", serif;
  }

  #description {
    text-transform: capitalize;
  }

  #icon {
    width: 35%;
  }
  
  .current-temperture {
    font-size: 2vw;
    margin: 2% 0% 5%;
    color: #8675a9;
    font-family: "Old Standard TT", serif;
  }
  #celsius {
    color: #8675a9;
    text-decoration: none;
  }
  
  #city-current-info .active {
    color: #3b2e5a;
  }
  
  #farenheit {
    color: #8675a9;
    text-decoration: none;
  }
  #more-detailed-info {
    margin: 5%;
    border: 2px solid #8675a9;
    font-size: 1.2vw;
    color: #3b2e5a;
    border-radius: 5px;
    padding: 3%;
    font-family: "Nanum Gothic", sans-serif;
    font-family: "Old Standard TT", serif;
  }

  .more-detailed-info-buttons {
    margin: 2% 0% 2% 2%;
    font-size: 1.1vw;
    padding: 2px 12px;
    border: 2px solid #8675a9;
    border-radius: 8%;
    background: #c3aed6;
    color: #826ea8;
    font-weight: bold;
  }
  
  .more-detailed-info-buttons:hover {
    outline: none;
    background: #e3d8ee;
  }
  
  .more-detailed-info-buttons:focus {
    outline: none;
    background: #d4bceb;
  }
  
  .detailed-information {
    margin: 20px;
    border: 2px solid #8675a9;
    border-radius: 5px;
    font-size: 0.9vw;
    font-family: "Nanum Gothic", sans-serif;
    font-family: "Old Standard TT", serif;
  }
  
  .weather-throughout-the-day {
    font-size: 2vw;
    text-align: center;
    padding: 1% 0 0.2%;
    color: #8675a9;
    font-family: "Old Standard TT", serif;
  }
  
  #row-detailed-information {
    padding: 0 1% 2% 3%;
    color: #3b2e5a;
  }
  
  .five-days-forecast {
    margin: 20px 20px 30px;
    border: 2px solid #8675a9;
    border-radius: 5px;
    font-size: 0.9vw;
    font-family: "Nanum Gothic", sans-serif;
    font-family: "Old Standard TT", serif;
  }
  
  .forecast-title {
    font-size: 2vw;
    text-align: center;
    padding: 1% 0 0.2%;
    color: #8675a9;
    font-family: "Old Standard TT", serif;
  }
  
  #row-forecast {
    padding: 0 1% 2% 3%;
    color: #3b2e5a;
  }
  
  #smaller-numbers {
    font-size: 0.8vw;
  }
  
  .fa-cloud-moon {
    color: #cbeaed;
  }
  
  .fa-moon {
    color: #cbeaed;
  }
  
  .fa-cloud-sun {
    color: #ffffdd;
  }
  
  .fa-cloud-sun-rain {
    color: #cbeaed;
  }
  
  .fa-sun {
    color: #faf0af;
  }
  
 
  #link-github{
    /*text-align: center;*/
    margin: 0% 15%;
    font-size: 1vw;
  }
  #link-github a {
  
    color: #8675a9;
    text-decoration: none;
  }

  #link-github a:hover {
    color: #3b2e5a;
    text-decoration: underline;
  }
  @media (max-width: 768px) {
    /* For mobile phones: */
    div[class*="col"] {
      width: 50%;
    }
  }

   /*div[class*="col"] {
    background: blue;
  }*/